{% extends "base_page.html" %}

{% block page-title %}
Добавить произведение в базу
{% endblock %}

{% block page-lead %}
Для добавления этюда в базу необходимо знать пароль администратора.
{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="data-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col" class="py-3">Файл</th>
                    <th scope="col" class="py-3">Название</th>
                    <th scope="col" class="py-3">Автор</th>
                    <th scope="col" class="py-3">Навык</th>
                    <th scope="col" class="py-3">Уровень</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}