{% extends "base_page.html" %}

{% block page-title %}
Добавление композиции в базу
{% endblock %}

{% block page-lead %}
Для добавления этюда в базу необходимо знать пароль администратора.
{% endblock %}

{% block content %}

<form method="post">
    <table>
        <thead>
            <tr>
                <th>Файл</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Навык</th>
                <th>Уровень</th>
                <th>Источник</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="file" id="file"></td>
                <td><input type="text" name="name" id="name"></td>
                <td><input type="text" name="author" id="author"></td>
                <td>
                    <select name="purpose" id="purpose">
                        {% for opt, name in purpose_opts %}
                        <option value="{{ opt }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="level" id="level">
                        {% for opt, name in level_opts %}
                        <option value="{{ opt }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="source" id="source">
                        {% for opt, name in source_opts %}
                        <option value="{{ opt }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary btn-add" formaction="/add-music">Добавить</button>
</form>

{% endblock %}