{% extends "base_page.html" %}

{% block page-title %}
Fast Piano
{% endblock %}

{% block page-lead %}
Данный проект предназначен для "не совсем" начинающих пианисов. <br/>
Здесь можно быстро искать фрагменты произведений известных композиторов, для совершенствования конкретных навыков игры на фортепиано.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Упражнения для быстрых рук</h3>
                <p>Данный раздел позволяет начать изучать случаное произведение по вашему уровню, которое позволит усовершенствовать интересующий вас навык.</p>
                <a href="/play" class="btn btn-primary">Приступить</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список доступных произведений</h3>
                <p>В данному разделе вы можете найти весь список доступных произведений и выбрать понравившееся для изучения.</p>
                <a href="/music-list" class="btn btn-primary">
                    Посмотреть
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Дополнить базу</h3>
                <p>Добавить новое произведение в репертуар сайта. <i>Возможность администратора.</i></p>
                <a href="/stats" class="btn btn-primary">
                    Я админ
                </a>
            </div>
        </div>
</div>
{% endblock %}