{% extends "base_page.html" %}

{% block page-title %}
Cлучайный этюд
{% endblock %}

{% block page-lead %}
Мы подберём подходящий этюд для тебя! Тебе нужно выбрать уровень сложности и навык, который хочешь развить.
{% endblock %}

{% block content %}
<form method="post">
    <table>
        <thead>
            <tr>
                <th>Навык</th>
                <th>Уровень</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="purpose" id="purpose">
                        {% for opt, name in purpose_opts %}
                        <option value="{{ opt }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="level" id="level">
                        {% for opt, name in level_opts %}
                        <option value="{{ opt }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary btn_play" formaction="/show" >Играть</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}